.navbar-container{
    position: fixed;
    top: 1rem;
    width: 100%;
    z-index: 100;

    .navbar-wrapper{
        background: rgba($color-black, 0.5);
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px); 
        display: flex;
        max-width: 70rem;
        margin: 0 auto; 
        justify-content: space-between;
        align-items: center;
        padding: 0.75rem 1rem;
        padding-left: 1.25rem;
        border-radius: 1.75rem;

        .logo-wrapper{
            cursor: pointer;
            display: flex;

            img{
                width: 7rem;
            }
        }

        .navbar-links{
            display: flex;
            align-items: center;
            gap: 1.25rem;

            a{
                cursor: pointer;
                text-decoration: none;
                font-weight: 400;
                font-size: 1rem;
                color: var(--white-100);
            }
        }

        .contact-btn{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--black-0);
            border: 1px solid var(--black-0);
            border-radius: 6.25rem;
            color: var(--black-100);
            padding: 0.375rem 0.5rem;
            cursor: pointer;
            font-weight: 700;
            font-size: 0.875rem;
            font-family: "Inter", sans-serif !important;
        }

        .hamburger-menu {
            display: none; 
            flex-direction: column;
            justify-content: space-around;
            width: 2rem;
            height: 2rem;
            background: transparent;
            border: none;
            cursor: pointer;
            padding: 0;
            z-index: 10; 

            &:focus {
                outline: none;
            }

            .bar {
                width: 2rem;
                height: 0.2rem;
                border-radius: 6.25rem;
                background-color: $color-gray-500;
                border-radius: 10px;
                transition: all 0.3s linear;
                position: relative;
            }
        }
    }

    .mobile-nav-panel {
        position: fixed;
        top: 0;
        right: 0;
        height: 100vh;
        width: 70%; // Take up 70% of the screen width
        background: rgba($color-black, 0.9);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.75rem;
        opacity: 0;
        transform: translateX(100%);
        transition: 
            transform 0.4s ease-in-out,
            opacity 0.4s ease-in-out
        ;

        .close-menu-btn {
            position: absolute;
            top: 2rem;
            left: 2rem;
            width: 30px;
            height: 30px;
            background: transparent;
            border: none;
            cursor: pointer;
            padding: 0;

            &::before,
            &::after {
            content: '';
                position: absolute;
                top: 50%;
                left: 0;
                width: 100%;
                height: 2px; 
                background-color: $color-white; 
            }

            &::before {
                transform: rotate(45deg);
            }

            &::after {
                transform: rotate(-45deg);
            }
        }

        a {
            color: var(--white-100, white);
            font-size: 1.5rem;
            font-weight: $font-weight-medium;
            text-decoration: none;
            transition: color 0.3s;

            &:hover {
            color: var(--color-primary, yellow);
            }
        }

        .line{
            height: 1px;
            background-color: $color-gray-900;
            width: 100%;
        }
        &.is-open {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

@media screen and (max-width: 480px) {
    .navbar-container{
        padding: 0 0.75rem;
         
        .navbar-wrapper{
            .navbar-links, .contact-btn{
                display: none;
            }

            .hamburger-menu {
                display: flex; 
            }
        }
    }
}